<!-- <main>
<% if(userType =="admin") { %>
    <a href="/adminDashboard/usersRegistered" class="btn btn-outline-primary">View Users</a>

    <a href="/logout" class="btn btn-outline-primary">Logout</a>

  <% } else { %>
    <a href="/article/index" class="btn btn-outline-primary">Articles</a>
    <a href="/author/index" class="btn btn-outline-primary">Authors</a>
    <a href="/auth/google" class="btn btn-outline-primary">Signin</a>
  <%  } %>

</main> -->
