<div>
    <div>
      <h3><%= category.category_name %></h3>
      <div>Category Name: <%= category.Item_name %></div>

      <div>Category Color: <%= category.color %></div>
    
    </div>
    <br>
  
  