<!-- User Profile.ejs -->
<main>

    <div class="album py-5 bg-body-tertiary">
    <div class="container">

 
        <h1>Welcome to your profile</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <form method="POST" action="/user/updateUser">
            <div>
                <label>Name</label>
                <input type="text" name="name" value="<%= user.name %>">
            </div>
    
            <div>
                <label>Email</label>
                <input type="text" name="email" value="<%= user.email %>" style="background-color: lightgray" readonly>
            </div>
    
            <div>
                <label>User's Image</label>
                <img src="<%= user.avatar %>" referrerpolicy="no-referrer" height="35px"></img>            
    
            </div>
    
            <input type="hidden" name="id" value="<%= user._id %>">
            <button type="submit">Edit Your Profile</button>
        </form>

</main>