<main>

  <div class="album py-5 bg-body-tertiary">
  <div class="container">

    
    <div>Amount: <%= bid.amount %></div>
    <div>Note: <%= bid.note %></div>
    <div>Status: <%= bid.status %></div>
    

  </div>
</div>

</main>

  
  