<h1>Add Auction</h1>

<form method="POST" action="/auction/add">
  <div>
    <label>Auction Name</label>
    <input name="auction_name" type="text" class="form-control">
  </div>

  <div>
    <label>Auction Date</label>
    <input name="auction_date" type="date" class="form-control">
  </div>

  <div>
    <label>Item Category</label>
    <input name="item_category" type="text" class="form-control">
  </div>

  <div>
    <label>Item Name</label>
    <input name="item_name" type="text" class="form-control">
  </div>
  <div>
    <label>Starting Price</label>
    <input name="sarting_price" type="text" class="form-control">
  </div>

  <div>
    <label>Item Image</label>
    <input name="item_img" type="file" class="form-control">
  </div>

  <br>

  <button type="submit" class="btn btn-primary">Create Auction</button>

</form>