<main>

  <div class="album py-5 bg-body-tertiary">
  <div class="container">

<h1><%= title %></h1>

<form method="POST" action="/auction/add">
<div class="row g-3">

  <div class="col-lg-4 col-md-12 col-sm-12">

  <div class="form-check">
    <label for="category" class="form-label">Item Category</label>
    <input id="category" name="category" type="text" class="form-control" required>
  </div>

  <div class="form-check">
    <label for="name" class="form-label">Auction / Item Name</label>
    <input id="name" name="name" type="text" class="form-control" required>
  </div>

  <div class="form-check">
    <label for="min_price" class="form-label">Starting Price</label>
    <input id="min_price" name="min_price" type="number" class="form-control" required>
  </div>

  <div class="form-check">
    <label for="end_date" class="form-label">End Date</label>
    <input id="end_date" name="end_date" type="date" class="form-control" value="" min="" max="" required>
    <input type="time" id="time" name="time" min="00:00" max="23:59" class="form-control" required>
  </div>

</div>

<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="form-floating pb-3">
    <label for="description" class="form-label">Description</label>
    <textarea id="description" name="description" class="form-control" height="100px" required></textarea>
  </div>
</div>

  <!-- <div>
    <label for="start_date" class="form-label">Start Date</label>
    <input id="start_date" name="start_date" type="date" class="form-control">
  </div> -->

  
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-check">
      <label for="item_img" class="form-label">Photo</label>
    <input id="item_img" name="item_img" type="file" class="form-control">
  </div>
  </div>

  <br>

<div class="row">
    <div class="d-grid gap-2 col-4 col-sm-8 mx-auto">
      <input name="status" type="hidden" value="true" class="form-control" required>
      <button type="submit" class="btn btn-primary">Create Auction</button>
    </div>
</div>
  

</div>
</form>

</div>
</div>

</main>